@{
    ViewBag.Title = "Inicio Sesión";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<div id="login" class="animate form">
    <section class="login_content">
        @using (Ajax.BeginForm("InicioSesion", "Seguridad", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Seguridad.RedirigirInicio" }))
        {
            <h1>Inicio de sesión</h1>
            <div>
                @Html.TextBox("txtUsuarioIniciar", null, new { placeholder = "Usuario", @class = "form-control", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="txtUsuarioIniciar" data-valmsg-replace="true"></span>
            </div>
            <div>
                @Html.Password("txtClaveIniciar", null, new { @class = "form-control", placeholder = "Clave", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="txtClaveIniciar" data-valmsg-replace="true"></span>
            </div>
            <div>
                @Html.DropDownList("ddlEmpresaIngresar", (SelectList)ViewBag.ddlEmpresas, " -- Empresa -- ", new { @class = "form-control", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="ddlEmpresa" data-valmsg-replace="true"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <div>
                <input type="submit" name="btnEnviar" id="btnEnviar" value="Entrar" class="btn btn-default submit" />
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <p class="change_link">
                    Olvidaste tu clave?
                    <a href="#toregister" class="to_register">Restablecer clave</a>
                </p>
            </div>
        }
    </section>
</div>
<div id="register" class="animate form">
    <section class="login_content">
        <form>
            <h1>Restablecer clave</h1>
            <div>
                @Html.TextBox("txtUsuarioRecuperar", null, new { placeholder = "Usuario", @class = "form-control", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="txtUsuarioRecuperar" data-valmsg-replace="true"></span>
            </div>
            <div>
                @Html.TextBox("txtEmailRecuperar", null, new { placeholder = "Correo electrónico", @class = "form-control", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="txtEmailRecuperar" data-valmsg-replace="true"></span>
            </div>
            <div>
                @Html.DropDownList("ddlEmpresaRecuperar", (SelectList)ViewBag.ddlEmpresas, " -- Empresa -- ", new { @class = "form-control", data_val = "true", data_val_required = "Dato requerido." })
                <span class="field-validation-valid" data-valmsg-for="ddlEmpresaRecuperar" data-valmsg-replace="true"></span>
            </div>
            <div class="clearfix"></div>
            <br />
            <div>
                <input type="submit" name="btnEnviar" id="btnEnviar" value="Enviar" class="btn btn-default submit" />
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <p class="change_link">
                    Quieres ingresar a la aplicación?
                    <a href="#tologin" class="to_register"> Iniciar sesión </a>
                </p>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>
