@*Modal Configuración Producción*@
<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="" method="post" id="frmCfgProduccion">
                <div class="modal-header">
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Variación</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <span>Producción</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.TextBox("txtPH", null, new { @class = "form-control has-feedback-left", placeholder = "Cantidad", data_val = "true", data_val_required = "Dato requerido", data_val_range = "El valor debe estar entre 0 y 1.000.000", data_val_range_min = "0", data_val_range_max = "1000000" })
                            @Html.ValidationMessage("txtPH")
                            <span class="fa fa-superscript form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.DropDownList("ddlPHUm", (SelectList)ViewBag.unidades_medida, " -- Unidad -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido." })
                            @Html.ValidationMessage("ddlPHUm")
                            <span class="fa fa-tachometer form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <span>Alistamiento</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.TextBox("txtTA", null, new { @class = "form-control has-feedback-left", placeholder = "Cantidad", data_val = "true", data_val_required = "Dato requerido", data_val_range = "El valor debe estar entre 0 y 1.440", data_val_range_min = "0", data_val_range_max = "1440" })
                            @Html.ValidationMessage("txtTA")
                            <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.DropDownList("ddlTAUm", (SelectList)ViewBag.unidades_medida, " -- Unidad -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido." })
                            @Html.ValidationMessage("ddlTAUm")
                            <span class="fa fa-tachometer form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" type="button" onclick="produccion.AgregarConfiguracion();">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
