<div id="divContProdAccr" class="form-group" style="width:70%; margin: 0 auto;">
    @Html.Hidden("hdfAccesorios")
    <div class="x_title">
        <h2>Accesorios</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm2"><i class="fa fa-plus"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content ventanas">
        <div id="divTblProdAccrs">
            <br />
            <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span></p><span>No se han ingresado accesorios</span></div>
        </div>
    </div>
</div>


<div tabindex="-1" class="modal fade bs-example-modal-sm2" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 300px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdAccrs">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar Accesorio</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProdAccsr")
                    @Html.Hidden("nombreAccesorio")
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.DropDownList("accesorio_idaccesorio", (SelectList)ViewBag.accesorio_idaccesorio, " -- Accesorios -- ", new { @class = "form-control has-feedback-left", data_val_number="The field Accesorio must be a number.", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="accesorio_idaccesorio" data-valmsg-replace="true"></span>

                                <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.TextBox("cantidadAccesorio", null, new { @class = "form-control has-feedback-left", placeholder = "Cantidad", data_val = "true", data_val_required = "Dato requerido", data_val_range = "El valor debe estar entre 0 y 1.000", data_val_range_min = "0", data_val_range_max = "1000" })
                            @Html.ValidationMessage("cantidadAccesorio")
                            <span class="fa fa-superscript form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        @Html.Label("Activa: ")
                        <div class="">
                            @Html.CheckBox("activoLinea", true, new { @class = "form-control icheckbox_flat-green" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="xfnAccesorio.AgregarProductoAccesorio()">Guardar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm2').on('hidden.bs.modal', function (e) {
            Produccion.RestaurarModalProveedorLinea();
        })

        $("#accesorio_idaccesorio").on("select2:select", function (e) {
            $("#nombreAccesorio").val(e.params.data.text);
        });

    });

    var xfnAccesorio = {
        AgregarProductoAccesorio: function () {

            if (xfnAccesorio.ValidarFormularioProductoAccesorio()) {

                var arrayAccesorios;

                var strid = $("#guidProdAccsr").val();
                
                var idProducto = $("#idProducto").val();
                var idAccesorio = $("#accesorio_idaccesorio").val();
                var nombreAccesorio = $("#nombreAccesorio").val();
                var cantidad = $("#cantidadAccesorio").val();
                var activio = $("#activoAccesorio").val();//.prop('checked', true);

                var objAccrs = {
                    id: strid, idProducto: idProducto, cantAccsr: cantidad,
                    idAccesorio: idAccesorio, nomAccr: nombreAccesorio, activo: activio
                };

                if ($("#hdfAccesorios").val()) {
                    //Manejo arreglo JSON
                    arrVariacaciones = JSON.parse($("#hdfAccesorios").val());

                    //Se busca si ya se ha agregado antes el permiso y se remueve de la lista.
                    var intIndice = -1;
                    $(arrayAccesorios).each(function () {
                        if ((this.id == objAccrs.id)) {
                            intIndice = $(arrayAccesorios).index(this);
                        }
                    });

                    if (intIndice >= 0) {
                        arrayAccesorios.splice(intIndice, 1);
                        arrayAccesorios.push(objAccrs);
                    }
                    else {
                        objAccrs.id = General.GenerarGuid();
                        arrayAccesorios.push(objAccrs);
                    }

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha agregado la configuración.',
                        type: 'success'
                    });
                }
                else {
                    //Manejo arreglo JSON
                    arrayAccesorios = new Array();

                    objAccrs.id = General.GenerarGuid();
                    arrayAccesorios.push(objAccrs);

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha agregado la configuración.',
                        type: 'success'
                    });

                }

                $("#hdfAccesorios").val(JSON.stringify(arrayAccesorios));

                xfnAccesorio.RestaurarModalProductoAccesorio();
                xfnAccesorio.CargaTablaListaProductoAccesorio();
            }
        },
        EliminaProductoAccesorio: function (control) {
            var objFila = $(control).parents("tr");
            var strid = $(objFila).data("guidProdAccsr");

            if ($("#hdfAccesorios").val()) {
                var arrayAccesorios = JSON.parse($("#hdfAccesorios").val());

                //Se busca si ya se ha agregado antes el permiso y se remueve de la lista.
                var intIndice = -1;
                $(arrayAccesorios).each(function () {
                    if ((this.id == strid)) {
                        intIndice = $(arrayAccesorios).index(this);
                    }
                });

                if (intIndice >= 0) {
                    arrayAccesorios.splice(intIndice, 1);

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha eliminado la linea.',
                        type: 'success'
                    });
                }

                $("#hdfAccesorios").val(JSON.stringify(arrayAccesorios));
                Produccion.CargaTablaListaProductoAccesorio();
            }
            else {
                new PNotify({
                    title: 'Advertencia!',
                    text: 'No hay registros para eliminar.',
                    type: 'notice'
                });
            }
        },


        AbrirModalProductoAccesorio: function () {
            Produccion.RestaurarModalProductoAccesorio();

            $(".bs-example-modal-sm2").modal("show");

            $("#accesorio_idaccesorio").select2();
        },
        RestaurarModalProductoAccesorio: function () {
            $("#guidProdAccsr").val(null);
            $("#accesorio_idaccesorio").val(null);
            $("#activoAccesorio").prop('checked', true);
        },
        CargarModalProductoAccesorio: function (control) {
            var objFila = $(control).parents("tr");
            var strid = $(objFila).data("guidProdAccsr");

            arrayAccesorios = JSON.parse($("#hdfAccesorios").val());

            var objAccrs;

            $(arrayAccesorios).each(function () {
                if (this.id == strid) {
                    objAccrs = this;
                }
            });

            if (!objAccrs) {
                new PNotify({
                    title: 'Advertencia!',
                    text: 'No fue posible recuperar el registro.',
                    type: 'notice'
                });
            }
            else {
                $("#guidProdAccsr").val(objAccrs);
                $("#idProducto").val(objAccrs.idProducto);
                $("#accesorio_idaccesorio").val(objAccrs.idAccesorio);
                $("#nombreAccesorio").val(objAccrs.nomAccr);
                $("#cantidadAccesorio").val(objAccrs.cantAccsr);
                $("#activoAccesorio").prop('checked', objAccrs.activo);
                $(".bs-example-modal-sm2").modal("show");
            }
        },
        CargaTablaListaProductoAccesorio: function () {
            $("#divTblProdAccrs").empty();
            var strContenido;

            if ($("#hdfAccesorios").val().length > 2) {
                var arrayAccesorios = JSON.parse($("#hdfAccesorios").val());
                strContenido = '<table id="tblProdAccrs">';

                strContenido = strContenido
                    + '<thead>'
                    + '<tr>'
                    + '<th></th>'
                    + '<th style="text-align: center;">Nombre</th>'
                    + '<th style="text-align: center;">Cantidad</th>'
                    + '<th style="text-align: center;">Activo</th>'
                    + '</tr>'
                    + '</thead>';

                strContenido = strContenido + '<tbody>';

                $(arrayAccesorios).each(function () {
                    strContenido = strContenido + '<tr data-idvp=\"' + this.id + '\">';

                    strContenido = strContenido + '<td>';
                    strContenido = strContenido + '<ul class="nav navbar-right panel_toolbox">';

                    if (isNaN(this.id)) {
                        strContenido = strContenido + '<li><a href="#" onclick="Produccion.EliminaProductoAccesorio(this);"><i class="fa fa-minus"></i></a></li>';
                    }

                    strContenido = strContenido + '<li><a href="#" onclick="Produccion.CargarModalProductoAccesorio(this);"><i class="fa fa-pencil"></i></a></li>';
                    strContenido = strContenido + '</ul>';
                    strContenido = strContenido + '</td>';

                    strContenido = strContenido + '<td>' + this.nomAccr + '</td>';
                    strContenido = strContenido + '<td>' + this.cantAccsr + '</td>';
                    var actv = (this.activo) ? 'checked />' : '/>';
                    strContenido = strContenido + '<td> <input type="checkbox" disabled  ' + this.activo + '</td>';
                    strContenido = strContenido + '</tr>';
                });

                strContenido = strContenido + '</tbody>';

                strContenido = strContenido + '</table>';

                $("#divTblProdAccrs").html(strContenido);
                $("#tblProdAccrs").DataTable();
            }
            else {
                strContenido = '<div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span></p><span>No se han ingresado accesorios</span></div>';
                $("#divTblProdAccrs").html(strContenido);
            }
        },
        ValidarFormularioProductoAccesorio: function () {
            var respuesta = true;
            if (!$('#frmNwProdAccrs').valid()) {
                respuesta = false;
            }

            if ($("#accesorio_idaccesorio").val() == undefined || $("#accesorio_idaccesorio").val().toString().length < 1) {
                respuesta = false;
            }
            
            if (!respuesta) {
                new PNotify({
                    title: 'Hay campos no validos!',
                    text: 'No puede agregar el accesorio.',
                    type: 'warning'
                });
            }
            return respuesta;
        }
    }

</script>