<div id="divContProdPegue" class="form-group" style="width:70%; margin: 0 auto;">
    @Html.Hidden("hdfPegues")
    <div class="x_title">
        <h2>Pegues</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm1"><i class="fa fa-plus"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content ventanas">
        <div id="divTblProdPegues">
            <br />
            <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span></p><span>No se han ingresado pegues</span></div>
        </div>
    </div>
</div>


<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdPegues">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar Pegue</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProdPegue")
                    @Html.Hidden("nombrePegue")
                    @Html.Hidden("nombreMaquina")
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.DropDownList("maquinavariprod_idVariacion_rutapegue", new List<SelectListItem>(), " -- Máquina ruta pegue -- ", new { @class = "form-control has-feedback-left slmaquinavar", data_val_number = "The field Pegue must be a number.", data_val = "true", data_val_required = "Dato requerido", data_tipomaquina = "peg", data_vrlAnt = ViewBag.maquinavariprod_idVariacion_rutapegue })
                            <span class="field-validation-valid" data-valmsg-for="maquinavariprod_idVariacion_rutapegue" data-valmsg-replace="true"></span>
                            <span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.TextBox("largoPegue", null, new { @class = "form-control has-feedback-left", placeholder = "Largo Pegue", data_val = "true", data_val_required = "Dato requerido", data_val_range = "El valor debe estar entre 0 y 1.000", data_val_range_min = "0", data_val_range_max = "1000" })
                            @Html.ValidationMessage("largoPegue")
                            <span class="fa fa-crop form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.TextBox("anchoPegue", null, new { @class = "form-control has-feedback-left", placeholder = "Ancho Pegue", data_val = "true", data_val_required = "Dato requerido", data_val_range = "El valor debe estar entre 0 y 1.000", data_val_range_min = "0", data_val_range_max = "1000" })
                            @Html.ValidationMessage("anchoPegue")
                            <span class="fa fa-crop form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            @Html.DropDownList("insumo_idinsumo_materialpegue", new List<SelectListItem>(), " -- Material pegue -- ", new { @class = "form-control has-feedback-left", data_val_number = "The field Pegue must be a number.", data_val = "true", data_val_required = "Dato requerido" })
                            <span class="field-validation-valid" data-valmsg-for="insumo_idinsumo_materialpegue" data-valmsg-replace="true"></span>
                            <span class="fa fa-puzzle-piece form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        @Html.Label("Activa: ")
                        <div class="">
                            @Html.CheckBox("activoPegue", true, new { @class = "form-control icheckbox_flat-green" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="xfnPegue.AgregarProductoPegue()">Guardar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            Produccion.RestaurarModalProveedorLinea();
        })
        xfnPegue.CargaTablaListaProductoPegue();
        $("#maquinavariprod_idVariacion_rutapegue").on("select2:select", function (e) {
            console.log(e);
        });

    });

    var xfnPegue = {
        AgregarProductoPegue: function () {

            if (xfnPegue.ValidarFormularioProductoPegue()) {

                var arrayPegues;

                var strid = $("#guidProdPegue").val(); //Id de la tabla relacion producto - pegante
                var idProducto = $("#idproducto").val(); // ID Producto

                var idInsumoPegue = $("#insumo_idinsumo_materialpegue").val();
                var idMaquinaRutaPegue = $("#maquinavariprod_idVariacion_rutapegue").val();

                var largoPegue = $("#largoPegue").val(); //float
                var anchoPegue = $("#anchoPegue").val(); //float
                var activio = $("#activoPegue").val();//.prop('checked', true);
                var nombrePegue = $("#insumo_idinsumo_materialpegue option[value='" + idInsumoPegue + "']").text();
                var nombreMaquina = $("#maquinavariprod_idVariacion_rutapegue option[value='" + idMaquinaRutaPegue + "']").text();

                var objPegues = {
                    id: strid, idProducto: idProducto, insumoPegue: idInsumoPegue,
                    maquinarutapegue: idMaquinaRutaPegue, largoPegue: largoPegue, anchoPegue: anchoPegue,
                    nomPegue: nombrePegue, nomMaquina: nombreMaquina, activo: activio
                };

                if ($("#hdfPegues").val()) {
                    //Manejo arreglo JSON
                    arrayPegues = JSON.parse($("#hdfPegues").val());

                    //Se busca si ya se ha agregado antes el permiso y se remueve de la lista.
                    var intIndice = -1;
                    $(arrayPegues).each(function () {
                        if ((this.id == objPegues.id)) {
                            intIndice = $(arrayPegues).index(this);
                        }
                    });

                    if (intIndice >= 0) {
                        arrayPegues.splice(intIndice, 1);
                        arrayPegues.push(objPegues);
                    }
                    else {
                        objPegues.id = General.GenerarGuid();
                        arrayPegues.push(objPegues);
                    }

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha agregado la configuración.',
                        type: 'success'
                    });
                }
                else {
                    //Manejo arreglo JSON
                    arrayPegues = new Array();

                    objPegues.id = General.GenerarGuid();
                    arrayPegues.push(objPegues);

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha agregado la configuración.',
                        type: 'success'
                    });

                }

                $("#hdfPegues").val(JSON.stringify(arrayPegues));

                xfnPegue.RestaurarModalProductoPegue();
                xfnPegue.CargaTablaListaProductoPegue();
            }
        },
        EliminaProductoPegue: function (control) {
            var objFila = $(control).parents("tr");
            var strid = $(objFila).data("guidProdPegue");

            if ($("#hdfPegues").val()) {
                var arrayPegues = JSON.parse($("#hdfPegues").val());

                //Se busca si ya se ha agregado antes el permiso y se remueve de la lista.
                var intIndice = -1;
                $(arrayPegues).each(function () {
                    if ((this.id == strid)) {
                        intIndice = $(arrayPegues).index(this);
                    }
                });

                if (intIndice >= 0) {
                    arrayPegues.splice(intIndice, 1);

                    new PNotify({
                        title: 'Correcto!',
                        text: 'Se ha eliminado la linea.',
                        type: 'success'
                    });
                }

                $("#hdfPegues").val(JSON.stringify(arrayPegues));
                xfnPegue.CargaTablaListaProductoPegue();
            }
            else {
                new PNotify({
                    title: 'Advertencia!',
                    text: 'No hay registros para eliminar.',
                    type: 'notice'
                });
            }
        },


        AbrirModalProductoPegue: function () {
            xfnPegue.RestaurarModalProductoPegue();

            $(".bs-example-modal-sm1").modal("show");

            $("#pegante_idpegante").select2();
        },
        RestaurarModalProductoPegue: function () {
            $("#guidProdPegue").val(null);
            $("#maquinavariprod_idVariacion_rutapegue").val(null);
            $("#activoPegue").prop('checked', true);
            $("#largoPegue").val("");
            $("#anchoPegue").val($("#anchoPegue").attr("data-anchoinsumo"));
            $("#insumo_idinsumo_materialpegue").val(null);
        },
        CargarModalProductoPegue: function (control) {
            var objFila = $(control).parents("tr");
            var strid = $(objFila).data("guidprodpegue");

            arrayPegues = JSON.parse($("#hdfPegues").val());

            var objPegues;

            $(arrayPegues).each(function () {
                if (this.id == strid) {
                    objPegues = this;
                }
            });

            if (!objPegues) {
                new PNotify({
                    title: 'Advertencia!',
                    text: 'No fue posible recuperar el registro.',
                    type: 'notice'
                });
            }
            else {
                $("#guidProdPegue").val(objPegues.id);
                $("#idProducto").val(objPegues.idProducto);
                $("#insumo_idinsumo_materialpegue").val(objPegues.insumoPegue);
                $("#maquinavariprod_idVariacion_rutapegue").val(objPegues.maquinarutapegue);
                $("#largoPegue").val(objPegues.largoPegue);
                $("#anchoPegue").val(objPegues.anchoPegue);
                $("#nombrePegue").val(objPegues.nomPegue);
                $("#nombreMaquina").val(objPegues.nomMaquina);
                var activo = $("#activoPegue").prop('checked', objPegues.activo);
                $(".bs-example-modal-sm1").modal("show");
            }
        },
        CargaTablaListaProductoPegue: function () {
            $("#divTblProdPegues").empty();
            var strContenido;

            if ($("#hdfPegues").val().length > 2) {
                var arrayPegues = JSON.parse($("#hdfPegues").val());
                strContenido = '<table id="tblProdPegues">';

                strContenido = strContenido
                    + '<thead>'
                    + '<tr>'
                    + '<th></th>'
                    + '<th style="text-align: center;">Nombre pegue</th>'
                    + '<th style="text-align: center;">Nombre máquina</th>'
                    + '<th style="text-align: center;">Largo</th>'
                    + '<th style="text-align: center;">Ancho</th>'
                    + '</tr>'
                    + '</thead>';

                strContenido = strContenido + '<tbody>';

                $(arrayPegues).each(function () {
                    strContenido = strContenido + '<tr data-guidprodpegue=\"' + this.id + '\">';

                    strContenido = strContenido + '<td>';
                    strContenido = strContenido + '<ul class="nav navbar-right panel_toolbox">';

                    if (isNaN(this.id)) {
                        strContenido = strContenido + '<li><a href="#" onclick="xfnPegue.EliminaProductoPegue(this);"><i class="fa fa-minus"></i></a></li>';
                    }

                    strContenido = strContenido + '<li><a href="#" onclick="xfnPegue.CargarModalProductoPegue(this);"><i class="fa fa-pencil"></i></a></li>';
                    strContenido = strContenido + '</ul>';
                    strContenido = strContenido + '</td>';

                    strContenido = strContenido + '<td>' + this.nomPegue + '</td>';
                    strContenido = strContenido + '<td>' + this.nomMaquina + '</td>';
                    strContenido = strContenido + '<td>' + this.largoPegue + '</td>';
                    strContenido = strContenido + '<td>' + this.anchoPegue + '</td>';
                    strContenido = strContenido + '</tr>';
                });

                strContenido = strContenido + '</tbody>';

                strContenido = strContenido + '</table>';

                $("#divTblProdPegues").html(strContenido);
                $("#tblProdPegues").DataTable();
            }
            else {
                strContenido = '<div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span></p><span>No se han ingresado accesorios</span></div>';
                $("#divTblProdPegues").html(strContenido);
            }
        },
        ValidarFormularioProductoPegue: function () {
            var respuesta = true;
            if (!$('#frmNwProdPegues').valid()) {
                respuesta = false;
            }

            if ($("#maquinavariprod_idVariacion_rutapegue").val() == undefined || $("#maquinavariprod_idVariacion_rutapegue").val().toString().length < 1) {
                respuesta = false;
            }

            if (!respuesta) {
                new PNotify({
                    title: 'Hay campos no validos!',
                    text: 'No puede agregar el accesorio.',
                    type: 'warning'
                });
            }
            return respuesta;
        }
    }

</script>