@model Tier.Gui.CotizarService.ProveedorModel
@{
    ViewBag.Title = "Crear Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nuevo proveedor</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaProveedores", "Produccion")"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearProveedor", "Produccion", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editando", false)
                @Html.Hidden("hfdlineas")
                <div class="form-group">

                    @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.nombre, null, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nombre proveedor" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.activo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="ccol-md-6 col-sm-6 col-xs-12">
                        @Html.CheckBox("activo", true, new { @class = "icheckbox_flat-green" })
                        @Html.ValidationMessageFor(model => model.activo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Lineas: ", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="ccol-md-6 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-dark" name="abrirModal" value="Agregar linea" onclick="Produccion.AbrirModalProveedorLinea()"><i class="fa fa-plus"></i> Agregar linea</button>
                    </div>
                </div>

                <div id="divTblProvLineas">
                    <br />
                    <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span></p><span>No se han ingresado lineas</span></div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProvLinea">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar linea</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProvLinea")
                    <div class="form-group">
                        @Html.Label("Nombre linea: ")
                        <div class="">
                            @Html.TextBox("nombreProvLinea", null, new { @class = "form-control", placeholder = "Nombre linea", data_val="true", data_val_required="Dato requerido" })
                            <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Activa: ")
                        <div class="">
                            @Html.CheckBox("activoLinea", true, new { @class = "form-control icheckbox_flat-green" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="Produccion.AgregarProveedorLinea()">Guardar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            Produccion.RestaurarModalProveedorLinea();
        })
    });
</script>
