@{
    ViewBag.Title = "ListaPantones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de pantones</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("CrearPantone", "Produccion" )"><i class="fa fa-plus"></i> Crear</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-close"></i> Cerrar</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div id="divFiltros">
                @using (Ajax.BeginForm("ListaPantones", "Produccion", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "divTabla", }))
                {
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            @Html.TextBox("txtNombre", null, new { @class = "form-control has-feedback-left", placeholder = "Nombre", data_val = "true", data_val_length = "El campo acepta mínimo 3, máximo 16 caracteres", data_val_length_min = "3", data_val_length_max = "16" })
                            @Html.ValidationMessage("txtNombre")
                            <span class="fa fa-crosshairs form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            @Html.TextBox("txtColorHEX", null, new { @class = "form-control has-feedback-left", placeholder = "Color HEX", data_val = "true", data_val_length = "El campo acepta mínimo 3, máximo 6 caracteres", data_val_length_min = "3", data_val_length_max = "6" })
                            @Html.ValidationMessage("txtColorHEX")
                            <span class="fa fa-tag form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input class="btn btn-primary pull-right" type="reset" value="Limpiar" />
                            <button class="btn btn-success pull-right" onclick="NProgress.start();"><i class="fa fa-binoculars"></i> Buscar</button>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <hr />
            <div id="divTabla">
                <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;"><p><span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 32px;"></span></p><span>Por favor realice una búsqueda para mostrar los resultados</span></div>
            </div>
        </div>
    </div>
</div>
