@model IEnumerable<Tier.Gui.CotizarService.Producto>

@{
    ViewBag.Title = "ListaProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
    Tier.Gui.CotizarService.Municipio objMuni = (Tier.Gui.CotizarService.Municipio)ViewBag.Municipio;
    Tier.Gui.CotizarService.Departamento objDpto = (Tier.Gui.CotizarService.Departamento)ViewBag.Departamento;
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de productos</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("CrearProducto", "Produccion", new { id = objCliente.idcliente })"><i class="fa fa-plus"></i> Crear</a>
                </li>
                <li>
                    <a href="@Url.Action("ListaClientes", "Comercial")"><i class="fa fa-close"></i> Cerrar</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-12 invoice-header">
                <h1>
                    <i class="fa fa-building"></i> @objCliente.nombre
                </h1>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-12 invoice-col">
                    <address>
                        <strong>Identificación:</strong>@objCliente.identificacion
                        <strong>Dirección:</strong> @objCliente.direccion
                        <strong>Ciudad:</strong> @objMuni.nombre
                        <strong>Departamento:</strong> @objDpto.nombre
                    </address>
                </div>
            </div>
            @Html.Partial("_TablaProductos", Model)
        </div>
    </div>
</div>