@model IEnumerable<Tier.Gui.CotizarService.Maquina>

@{
    ViewBag.Title = "ListaMaquinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de máquinas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-close"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("CrearMaquina", "Produccion")"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="tblMaquinas">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(model => model.codigo)</th>
                        <th>@Html.DisplayNameFor(model => model.nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.itemlista_iditemlistas_tipo)</th>
                        <th>@Html.DisplayNameFor(model => model.turnos)</th>
                        <th>@Html.DisplayNameFor(model => model.fechacreacion)</th>
                        <th>@Html.DisplayNameFor(model => model.activo)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" class="dropdown">
                                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                            <span class="fa fa-chevron-down"></span>
                                        </a><div class="dropdown-backdrop"></div>
                                        <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                            <li role="presentation">
                                                @Html.ActionLink("Modificar", "EditarMaquina", "Produccion", new { id = item.idmaquina }, null)
                                            </li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation">
                                                @Html.ActionLink("Eliminar", "EliminarMaquina", "Produccion", new { id = item.idmaquina }, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                            <td>@Tier.Gui.Helpers.CustomHtmlHelpers.RecTextoSL((SelectList)ViewBag.itemlista_iditemlistas_tipo, item.itemlista_iditemlistas_tipo)</td>
                            <td>@Html.DisplayFor(modelItem => item.turnos)</td>
                            <td>@Html.DisplayFor(modelItem => item.fechacreacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.activo)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#tblMaquinas").DataTable();
</script>