@model Tier.Gui.CotizarService.CotizacionDetalle
<style>
    #tblCotizacionProductoDetalleXEscala {
        width: 95%;
    }

        #tblCotizacionProductoDetalleXEscala > th {
            text-align: right;
            padding-right: 5px;
            width: 35%;
        }

        #tblCotizacionProductoDetalleXEscala > td {
            text-align: right;
            padding-right: 5px;
            width: 15%;
        }

    .tbltextojustizq {
        text-align: left;
    }
</style>

<table id="tblCotizacionProductoDetalleXEscala" align="center">
    <tbody>
        <tr>
            <th>Producto:</th>
            <td colspan="3" class="tbltextojustizq">@Tier.Gui.SAL.Productos.RecuperarXId((int)Model.producto_idproducto).referenciacliente</td>
        </tr>
        <tr>
            <th>Perímetro flete:</th>
            <td colspan="3" class="tbltextojustizq">@Tier.Gui.SAL.Insumos.RecuperarXId((int)Model.insumo_idinsumo_flete, ((Tier.Gui.CotizarService.Sesion)Session["SesionActual"]).empresa.idempresa).nombre</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Cabida conversión:</th>
            <td>@Model.cabidaconversion</td>
            <th>Cabida troquel:</th>
            <td>@Model.cabidatroquel</td>
        </tr>
        <tr>
            <th>Cant. tintas:</th>
            <td colspan="3">@Model.canttintas</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Costo reempaque:</th>
            <td>@Html.DisplayFor(m => m.costoreempaque, "Money")</td>
            <th>Proceso pegue:</th>
            <td>@Html.DisplayFor(m => m.costoprocpegue, "Money")</td>
        </tr>
        <tr>
            <th>Costo accesorios:</th>
            <td>@Html.DisplayFor(m => m.costoaccesorios, "Money")</td>
            <th>Proceso acabado (der):</th>
            <td>@Html.DisplayFor(m => m.costoprocacabadoder, "Money")</td>
        </tr>
        <tr>
            <th>Costo flete:</th>
            <td>@Html.DisplayFor(m => m.costoflete, "Money")</td>
            <th>Proceso acabado (rev):</th>
            <td>@Html.DisplayFor(m => m.costoprocacabadorev, "Money")</td>
        </tr>
        <tr>
            <th>Costo acetato:</th>
            <td>@Html.DisplayFor(m => m.costoacetato, "Money")</td>
            <th>Proceso conversión:</th>
            <td>@Html.DisplayFor(m => m.costoprocconversion, "Money")</td>
        </tr>
        <tr>
            <th>Costo cartón (caja):</th>
            <td>@Html.DisplayFor(m => m.costocartoncaja, "Money")</td>
            <th>Proceso litografía:</th>
            <td>@Html.DisplayFor(m => m.costoproclitografia, "Money")</td>
        </tr>
        <tr>
            <th>Costo cartón (colam):</th>
            <td>@Html.DisplayFor(m => m.costocartoncolaminado, "Money")</td>
            <th>Proceso troquelado:</th>
            <td>@Html.DisplayFor(m => m.costoproctroqelado, "Money")</td>
        </tr>
        <tr>
            <th>Costo tintas:</th>
            <td>@Html.DisplayFor(m => m.costotintas, "Money")</td>
            <th>Proceso colaminado:</th>
            <td>@Html.DisplayFor(m => m.costoproccolaminado, "Money")</td>
        </tr>
        <tr>
            <th>Costo acabado (der):</th>
            <td>@Html.DisplayFor(m => m.costoacabadoder, "Money")</td>
            <th>Proceso guillotinado:</th>
            <td>@Html.DisplayFor(m => m.costoprocguillotinado, "Money")</td>
        </tr>
        <tr>
            <th>Costo acabado (rev)</th>
            <td>@Html.DisplayFor(m => m.costoacabadorev, "Money")</td>
            <th> </th>
            <td></td>
        </tr>
        <tr>
            <th>Costo pegante:</th>
            <td>@Html.DisplayFor(m => m.costopegante, "Money")</td>
            <th> </th>
            <td></td>
        </tr>
        <tr>
            <th>Costo pliegos desp:</th>
            <td>@Html.DisplayFor(m => m.costopliegosdesper, "Money")</td>
            <th> </th>
            <td></td>
        </tr>
        <tr>
            <th>Costo total insumos:</th>
            <th>@Html.DisplayFor(m => m.costototalmaterialunidad, "Money")</th>
            <th>Costo total procesos:</th>
            <th>@Html.DisplayFor(m => m.costototalprocesosunidad, "Money")</th>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Costo despercicio:</th>
            <td>@Html.DisplayFor(m => m.costodesperdiciocaja, "Money")</td>
            <th>Desperdicio (%):</th>
            <td>@string.Format("{0:p}", Model.porcedesperdiciocaja)</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Aporte gasto x und:</th>
            <td colspan="3">@Html.DisplayFor(m => m.costoaportegastounidad, "Money")</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Alza general (%):</th>
            <td>@string.Format("{0:p}", (Model.porcealzageneral - 1))</td>
            <th>Ica + Cree (%):</th>
            <td>@string.Format("{0:p}", (Model.porceicacree - 1))</td>
        </tr>
        <tr>
            <th>Comisión asesor (%):</th>
            <td>@string.Format("{0:p}", (Model.porcecomisionasesor - 1))</td>
            <th>Adm financiación (%):</th>
            <td>@string.Format("{0:p}", (Model.porceadmfinanciacion - 1))</td>
        </tr>
        <tr>
            <th>Precio (%):</th>
            <td>@string.Format("{0:p}", (Model.porceprecioproducto - 1))</td>
            <th></th>
            <td></td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Costo neto:</th>
            <th colspan="3">@Html.DisplayFor(m => m.costonetocaja, "Money")</th>
        </tr>
    </tbody>
</table>