@model Tier.Gui.CotizarService.Producto

<style>
    #tblCotizacionProductoXEscala, tblCotizacionProductoXRutas {
        width: 95%;
    }

        #tblCotizacionProductoXEscala > th {
            text-align: right;
            padding-right: 5px;
            /*width: 35%;*/
        }

        #tblCotizacionProductoXEscala > td {
            text-align: right;
            padding-right: 5px;
            /*width: 15%;*/
        }

    #tblCotizacionProductoXRutas {
        width: 95%;
    }

        #tblCotizacionProductoXRutas > tbody > tr > td {
            font-size: xx-small;
        }
</style>
@{
    Tier.Gui.CotizarService.Sesion objSesion = (Tier.Gui.CotizarService.Sesion)Session["SesionActual"];
}
<table id="tblCotizacionProductoXEscala" align="center">
    <tbody>
        <tr>
            <th>Referencia:</th>
            <td colspan="3">@Model.referenciacliente</td>
        </tr>
        <tr>
            <th>Troquel:</th>
            <td colspan="3">@(Model.troquel_idtroquel.HasValue ? Model.troquel_desctroquel : "-")</td>
        </tr>
        <tr>
            <th>Material:</th>
            <td colspan="3">@(Model.insumo_idinsumo_material.HasValue ? Model.insumo_idinsumo_descmaterial : "-")</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Largo bobina:</th>
            <td>@(Model.largobobina.HasValue ? Model.largobobina.ToString() : "-")</td>
            <th>Ancho bobina:</th>
            <td>@(Model.anchobobina.HasValue ? Model.anchobobina.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Cabida largo:</th>
            <td>@(Model.cabidalargo.HasValue ? Model.cabidalargo.ToString() : "-")</td>
            <th>Cabida ancho:</th>
            <td>@(Model.cabidaancho.HasValue ? Model.cabidaancho.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Acetato:</th>
            <td colspan="3">@(Model.insumo_idinsumo_acetato.HasValue ? Model.insumo_idinsumo_descacetato : "-")</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Acabado (der):</th>
            <td colspan="3">@(Model.insumo_idinsumo_acabadoderecho.HasValue ? Model.insumo_idinsumo_descacabadoderecho : "-")</td>
        </tr>
        <tr>
            <th>Ancho:</th>
            <td>@(Model.anchomaquina_acabadoderecho.HasValue ? Model.anchomaquina_acabadoderecho.ToString() : "-")</td>
            <th>Recorrido:</th>
            <td>@(Model.recorrido_acabadoderecho.HasValue ? Model.recorrido_acabadoderecho.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Acabado (rev):</th>
            <td colspan="3">@(Model.insumo_idinsumo_acabadoreverso.HasValue ? Model.insumo_idinsumo_descacabadoreverso : "-")</td>
        </tr>
        <tr>
            <th>Ancho:</th>
            <td>@(Model.anchomaquina_acabadoreverso.HasValue ? Model.anchomaquina_acabadoreverso.ToString() : "-")</td>
            <th>Recorrido:</th>
            <td>@(Model.recorrido_acabadoreverso.HasValue ? Model.recorrido_acabadoreverso.ToString() : "-")</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Posición planchas:</th>
            <td>@(!string.IsNullOrEmpty(Model.posicionplanchas) ? Model.posicionplanchas.ToString() : "-")</td>
            <th>Pasadas litrográficas:</th>
            <td>@(Model.pasadaslitograficas.HasValue ? Model.pasadaslitograficas.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Pinza litogrfdicas:</th>
            <td>@(Model.pinzalitografica.HasValue ? Model.pinzalitografica.ToString() : "-")</td>
            <th>Cantidad tintas:</th>
            @{
                int intcoloresder = Model.espectro.Where(ee => ee.derechoreverso == true).Count();
                int intcoloresrev = Model.espectro.Where(ee => ee.derechoreverso == false).Count();
            }
            <td>@(intcoloresder.ToString() + " / " + intcoloresrev.ToString())</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Colaminado:</th>
            <td colspan="3">@(Model.insumo_idinsumo_colaminado.HasValue ? Model.insumo_idinsumo_desccolaminado : "-")</td>
        </tr>
        <tr>
            <th>Pegante:</th>
            <td colspan="3">@(Model.insumo_idinsumo_colaminadopegante.HasValue ? Model.insumo_idinsumo_desccolaminadopegante : "-")</td>
        </tr>
        <tr>
            <th>Largo:</th>
            <td>@(Model.colaminadoalargo.HasValue ? Model.colaminadoalargo.ToString() : "-")</td>
            <th>Ancho:</th>
            <td>@(Model.colaminadoancho.HasValue ? Model.colaminadoancho.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Cabida largo:</th>
            <td>@(Model.colaminadocabidalargo.HasValue ? Model.colaminadocabidalargo.ToString() : "-")</td>
            <th>Cabida ancho:</th>
            <td>@(Model.colaminadocabidaancho.HasValue ? Model.colaminadocabidaancho.ToString() : "-")</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Reempaque:</th>
            <td colspan="3">@(Model.insumo_idinsumo_reempaque.HasValue ? Model.insumo_idinsumo_descreempaque : "-")</td>
        </tr>
        <tr>
            <th>Factor rendimiento:</th>
            <td>@(Model.factorrendimientoreempaque.HasValue ? Model.factorrendimientoreempaque.ToString() : "-")</td>
            <th></th>
            <td></td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Precio pred:</th>
            <td>@(Model.preciopredeterminado.HasValue ? Model.preciopredeterminado.ToString() : "-")</td>
            <th>Cantidad pred:</th>
            <td>@(Model.catidadpredeterminada.HasValue ? Model.catidadpredeterminada.ToString() : "-")</td>
        </tr>
        <tr>
            <th>Factor precio:</th>
            <td>@(Model.factorprecio.HasValue ? Model.factorprecio.ToString() : "-")</td>
            <th></th>
            <td></td>
        </tr>
    </tbody>
</table>
<hr />
<table id="tblCotizacionProductoXRutas" align="center">
    <tbody>
        <tr>
            <td><i class="fa fa-cogs"></i>&nbsp;@Model.maquinavariprod_idVariacion_descrutaconversion</td>
            <td><i class="fa fa-cogs"></i>&nbsp;@Model.maquinavariprod_idVariacion_descrutaguillotinado</td>
        </tr>
        <tr>
            <td><i class="fa fa-cogs"></i>&nbsp;@Model.maquinavariprod_idVariacion_descrutatroquelado</td>
            <td><i class="fa fa-cogs"></i>&nbsp;@(Model.maquinavariprod_idVariacion_rutalitografia.HasValue ? Model.maquinavariprod_idVariacion_descrutalitografia : "Sin proceso litográfico")</td>
        </tr>
        <tr>
            <td><i class="fa fa-cogs"></i>&nbsp;@(Model.maquinavariprod_idVariacion_rutaacabadoderecho.HasValue ? Model.maquinavariprod_idVariacion_descrutaacabadoderecho : "Sin proceso acabado der")</td>
            <td><i class="fa fa-cogs"></i>&nbsp;@(Model.maquinavariprod_idVariacion_rutaacabadoreverso.HasValue ? Model.maquinavariprod_idVariacion_descrutaacabadoreverso : "Sin proceso acabado rev")</td>
        </tr>
        <tr>
            <td><i class="fa fa-cogs"></i>&nbsp;@(Model.maquinavariprod_idVariacion_rutacolaminado.HasValue ? Model.maquinavariprod_idVariacion_descrutacolaminado : "Sin proceso colaminado")</td>
        </tr>
    </tbody>
</table>