@model IEnumerable<Tier.Gui.CotizarService.Pedido>

<script>
    NProgress.start();
</script>

<table id="tblPedidos">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.idpedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemlista_iditemlista_estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cotizacion_idcotizacion)
            </th>
            <th style="text-align:right;">Prod. Pedidos</th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.costosplancha)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.costostroqueles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.identificadorsiigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechacreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                <span class="fa fa-chevron-down"></span>
                            </a><div class="dropdown-backdrop"></div>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    @Html.ActionLink("Consultar", "ConsultarPedido", "Comercial", new { id = item.idpedido }, null)
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    @Html.ActionLink("Finalizar", "FinalizarPedido", "Comercial", new { id = item.idpedido }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idpedido)
                </td>
                <td>
                    @if (item.itemlista_iditemlista_estado != null)
                    {
                        @Tier.Gui.SAL.ItemsListas.RecuperarItemListaXId((int)item.itemlista_iditemlista_estado).nombre
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
                <td>
                    <strong>@Html.ActionLink(item.cotizacion_idcotizacion.ToString(), "ConsultarCotizacion", "Comercial", new { id = item.cotizacion_idcotizacion.ToString() }, new { target = "_blank", @class = "customlink", title = "Ver cotización" })</strong>
                </td>
                <td style="text-align:right;">
                    @item.detalle.Count
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.costosplancha, "FloatFixedPoint")
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.costostroqueles, "FloatFixedPoint")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.identificadorsiigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechacreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#tblPedidos").DataTable();
</script>

<script>
    NProgress.done();
</script>