@model IEnumerable<Tier.Gui.CotizarService.Asesor>

<script>
    NProgress.start();
</script>

<table id="tblAsesores">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoelectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                <span class="fa fa-chevron-down"></span>
                            </a><div class="dropdown-backdrop"></div>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    @Html.ActionLink("Modificar", "EditarAsesor", "Comercial", new { id = item.idasesor }, null)
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    @Html.ActionLink("Eliminar", "EliminarAsesor", "Comercial", new { id = item.idasesor }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comision, "PercentNumber")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correoelectronico)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#tblAsesores").DataTable();
</script>

<script>
    NProgress.done();
</script>
