@model Tier.Gui.CotizarService.CotizacionModelo

@{
    ViewBag.Title = "ConsultarCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
    Tier.Gui.CotizarService.Municipio objMuni = (Tier.Gui.CotizarService.Municipio)ViewBag.Municipio;
    Tier.Gui.CotizarService.Departamento objDpto = (Tier.Gui.CotizarService.Departamento)ViewBag.Departamento;
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Consultar cotización</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaCotizaciones", "Comercial", new { id = objCliente.idcliente }, null)"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CargarModeloPedido", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left", onsubmit = "Comercial.HabilitaCampos();" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("hdfProdCotizar")
                @Html.Hidden("hdfProdPedido")
                @Html.Hidden("cliente_idcliente", Model.cliente_idcliente)
                @Html.Hidden("idcotizacion", Model.idcotizacion)
                @Html.HiddenFor(model => model.costosplancha)
                @Html.HiddenFor(model => model.costostroqueles)
                @Html.HiddenFor(model => model.itemlista_iditemlista_estado)

                <div class="form-group">
                    <div class="col-xs-12 invoice-header">
                        <h1>
                            <i class="fa fa-building"></i> @objCliente.nombre
                        </h1>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                <strong>Identificación:&nbsp;</strong>@objCliente.identificacion
                                <strong>Dirección:&nbsp;</strong> @objCliente.direccion
                                <strong>Ciudad:&nbsp;</strong> @objMuni.nombre
                                <strong>Departamento:&nbsp;</strong> @objDpto.nombre
                            </address>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                        @Html.DropDownListFor(model => model.periodo_idPeriodo, null, " -- Periodo -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido." })
                        @Html.ValidationMessageFor(model => model.periodo_idPeriodo)
                        <span class="fa fa-puzzle-piece form-control-feedback left" aria-hidden="true"></span>
                    </div><div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
                        @Html.HiddenFor(model => model.itemlista_iditemlista_estado)
                        @if (Model.itemlista_iditemlista_estado != null)
                        {
                            <h3>Estado: @Tier.Gui.SAL.ItemsListas.RecuperarItemListaXId((int)Model.itemlista_iditemlista_estado).nombre</h3>
                        }
                        else
                        {
                            <h3>Estado: N/A</h3>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div id="contProductosCotizacion">
                        <table id="tblProductosCotizacion">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="sinProductosMsj">
                        <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;">
                            <p>
                                <span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span>
                            </p><span>No se han ingresado productos en la cotización</span>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                        @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control has-feedback-left", placeholder = "Observaciones generales" })
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                        <table class="pull-right" style="margin-right:11px;">
                            <tr>
                                <th style="text-align:right;">@Html.LabelFor(model => model.costosplancha):&nbsp;$&nbsp;</th>
                                <td style="text-align:right;"><label id="lblcostosplancha">0</label></td>
                            </tr>
                            <tr>
                                <th style="text-align:right;">@Html.LabelFor(model => model.costostroqueles):&nbsp;$&nbsp;</th>
                                <td style="text-align:right;"><label id="lblcostostroqueles">0</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="button" name="btnExportar" id="btnExportar" class="btn btn-primary btn-lg" value="Exportar" />
                        @if (Model.itemlista_iditemlista_estado == (int)Tier.Gui.Models.Enumeradores.EstadosCotizacion.Creacion)
                        {
                            <input type="submit" name="btnGenerarPedido" id="btnGenerarPedido" class="btn btn-success btn-lg" value="Generar pedido" onclick="return Comercial.ValidarDatosPedido();" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div tabindex="-2" class="modal fade bs-example-modal-sm2" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmDetalleProdCotizacionEscala">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="trgCotProDetEscala" class="modal-body"></div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal para el detalle del producto*@
<div tabindex="-3" class="modal fade bs-example-modal-sm3" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmDetalleProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="trgCotProDet" class="modal-body"></div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            Comercial.RestaurarModalProdCotizar();
        });

        $('.bs-example-modal-sm1').on('show.bs.modal', function (e) {
            if ($("#periodo_idPeriodo").val() == null || $("#periodo_idPeriodo").val() == "") {
                new PNotify({
                    title: 'Debe seleccionar un periodo',
                    text: '',
                    type: 'error'
                });
                return false;
            }
        });

        Comercial.CargarTablaProductosCotizar();
        Comercial.CalcularCostoPlanchasTroqueles();

        NProgress.done();
    });
</script>