@{
    ViewBag.Title = "CrearCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nueva cotización</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaCotizaciones", "Comercial", new { id = ViewBag.cliente_idCliente }, null)"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearCotizacion", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editando", false)
                @Html.Hidden("codigoinicial", null)
                @Html.Hidden("hdfProdCotizar")

                Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
                Tier.Gui.CotizarService.Municipio objMuni = (Tier.Gui.CotizarService.Municipio)ViewBag.Municipio;
                Tier.Gui.CotizarService.Departamento objDpto = (Tier.Gui.CotizarService.Departamento)ViewBag.Departamento;

                <div class="form-group">
                    <div class="col-xs-12 invoice-header">
                        <h1>
                            <i class="fa fa-building"></i> @objCliente.nombre
                        </h1>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                <strong>Identificación:</strong>@objCliente.identificacion
                                <strong>Dirección:</strong> @objCliente.direccion
                                <strong>Ciudad:</strong> @objMuni.nombre
                                <strong>Departamento:</strong> @objDpto.nombre
                            </address>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div id="nuevoProductoCotizar">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm1">
                            <i class="fa fa-plus"></i>
                            Adicionar Producto
                        </button>
                    </div>
                    <div id="contProductosCotizacion">
                        <table id="tblProductosCotizacion">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>Cartón</th>
                                    <th>Troquel</th>
                                    <th>Destino</th>
                                    <th>1000</th>
                                    <th>2000</th>
                                    <th>4000</th>
                                    <th>6000</th>
                                    <th>8000</th>
                                    <th>1000</th>
                                    <th>1200</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        @Html.Label("Observaciones", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("observaciones", "", new { @class = "form-control has-feedback-left", placeholder = "Observaciones generales" })
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div>
                            planchas adicionales
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProductoCotizar")
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Seleccione producto: ")
                                @Html.DropDownList("producto_idproducto", null, " -- Producto -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-archive form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Ciudad destino: ")
                                @Html.DropDownList("insumo_idinsumo_flete", (SelectList)ViewBag.insumo_idinsumo_flete, " -- Flete -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-truck form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Observación: ")
                                @Html.TextArea("comentarioAdicional", "", new { @class = "form-control has-feedback-left", placeholder = "Comentarios adicionales" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="contImgProdCotizar">
                                <img src="~/images/Imagen_no_disponible.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            xFnCotizar.RestaurarModalProdCotizar();
        });
        $('[data-toggle="tooltip"]').tooltip();

        xFnCotizar = {
            AbrirModalProdCotizar: function () {

            },
            AgregarProdCotizar: function () {
                if (xFnCotizar.ValidarFormularioProdCotizar()) {
                    var arrayProductos;

                    var strguid = $("#guidProductoCotizar");
                    var idProducto = $("#producto_idproducto");
                    var idInsumoFlete = $("#insumo_idinsumo_flete");
                    var comentarioAdicional = $("#comentarioAdicional");

                    var objProdCotizar = {
                        id: strguid, idProducto: idProducto, idInsumoFlete: idInsumoFlete, comentarioAdicional: comentarioAdicional
                    };

                    if ($("#hdfProdCotizar").val()) {
                        arrayProductos = JSON.parse($("#hdfProdCotizar").val());

                        var intIndice = -1;
                        $(arrayProductos).each(function () {
                            if (this.id == objProdCotizar.id) {
                                intIndice = $(arrayProductos).index(this);
                            }
                        });

                        if (intIndice >= 0) {
                            arrayProductos.splice(intIndice, 1);
                            arrayProductos.push(objProdCotizar);
                        }
                        else {
                            objProdCotizar.id = General.GenerarGuid();
                            arrayProductos.push(objProdCotizar);
                        }
                        new PNotify({
                            title: 'Correcto!',
                            text: 'Se ha agregado el producto.',
                            type: 'success'
                        });

                    }
                    else {
                        arrayProductos = new Array();

                        objProdCotizar.id = General.GenerarGuid();
                        arrayProductos.push(objProdCotizar);

                        new PNotify({
                            title: 'Correcto!',
                            text: 'Se ha agregado el producto.',
                            type: 'success'
                        });
                    }

                    $("#hdfProdCotizar").val(JSON.stringify(arrayProductos));
                    xFnCotizar.RestaurarModalProdCotizar();
                    xFnCotizar.CargarTablaProductosCotizar();
                }

            },
            EliminarProdCotizar: function () {

            },
            RestaurarModalProdCotizar: function () {
                $("#producto_idproducto").val(null);
                $("#insumo_idinsumo_flete").val(null);
                $("#comentarioAdicional").val(null);
            },
            CargarTablaProductosCotizar: function () {

            },
            ValidarFormularioProdCotizar: function () {

            }
        };


        $('#tblProductosCotizacion').dataTable({
            "data": [
                {
                    "Referencia": "MAXTER TAPABOCAS",
                    "Carton": "Pleg. blanco revés blanco",
                    "Troquel": "R09146",
                    "Destino": "Manizales",
                    "1000": "3",
                    "2000": "M",
                    "4000": "19.5",
                    "6000": "10.0",
                    "8000": "8.9",
                    "10000": "1",
                    "12000": "61.5",
                    "Observaciones": "1"
                },
                {
                    "Referencia": "MAXTER TAPABOCAS",
                    "Carton": "Pleg. blanco revés blanco",
                    "Troquel": "R09146",
                    "Destino": "Manizales",
                    "1000": "3",
                    "2000": "M",
                    "4000": "19.5",
                    "6000": "10.0",
                    "8000": "8.9",
                    "10000": "1",
                    "12000": "61.5",
                    "Observaciones": "1"
                }
            ],
            "columns": [
                { "data": "Referencia" },
                { "data": "Carton" },
                { "data": "Troquel" },
                { "data": "Destino" },
                { "data": "1000" },
                { "data": "2000" },
                { "data": "4000" },
                { "data": "6000" },
                { "data": "8000" },
                { "data": "10000" },
                { "data": "12000" },
                { "data": "Observaciones" }
            ]
        });

    });
</script>
