@model Tier.Gui.CotizarService.Asesor

@{
    ViewBag.Title = "CrearAsesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nuevo asesor</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaAsesores", "Comercial")"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearAsesor", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("activo", true)
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                        @Html.TextBoxFor(model => model.codigo, new { @class = "form-control has-feedback-left", placeholder = "Código" })
                        @Html.ValidationMessageFor(model => model.codigo)
                        <span class="fa fa-paw form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-6 col-sm-142 col-xs-12 form-group has-feedback">
                        @Html.TextBoxFor(model => model.comision, new { @class = "form-control has-feedback-left", placeholder = "Comisión" })
                        @Html.ValidationMessageFor(model => model.comision)
                        <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                        @Html.LabelFor(model => model.nombre, new { @class = "control-label control-label col-md-2 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.nombre)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                        @Html.LabelFor(model => model.telefono, new { @class = "control-label control-label col-md-2 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                        @Html.LabelFor(model => model.correoelectronico, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.correoelectronico, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(model => model.correoelectronico)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                        @Html.LabelFor(model => model.empresa_idempresa, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.DropDownListFor(model => model.empresa_idempresa, (SelectList)ViewBag.empresa_idempresa, " -- Empresa -- ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.empresa_idempresa)
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>