@{
    ViewBag.Title = "CrearCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nueva cotización</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaCotizaciones", "Comercial", new { id = ViewBag.cliente_idCliente }, null)"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearCotizacion", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editando", false)
                @Html.Hidden("codigoinicial", null)



                <div class="form-group">
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        @Html.Label("Razón social", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("cliente_nombre", (string)ViewBag.cliente_nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        @Html.Label("Contacto", new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("cliente_contacto", (string)"Contacto cliente", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        @Html.Label("Teléfono", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("cliente_telefono", (string)"2342344", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        @Html.Label("Dirección", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("cliente_direccion", (string)"Dirección", new { @class = "form-control has-feedback-left", placeholder = "Dirección" })
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        @Html.Label("Email", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("cliente_email", (string)"correo@email.com", new { @class = "form-control has-feedback-left", placeholder = "Dirección" })
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div id="nuevoProductoCotizar">
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm1"><i class="fa fa-plus"></i></button>
                    </div>
                    <div id="contProductosCotizacion">
                        <div class="ibox-prodCotizar  col-md-4 col-sm-6 col-xs-12 form-group">
                            <div class="ibox-title">
                                @Html.Label("Producto", new { @class = "label label-info pull-left" })
                                @Html.Label("X", new { @class = "label label-danger pull-right" })
                                <br /><h5><b>01 - Referencia:</b> MAXTER TAPABOCAS</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="info-productoscotizar">
                                    <h4>Detalles producto</h4>
                                    <div>
                                        <div class="row  m-t-sm">
                                            <div class="col-md-12">
                                                @Html.Label("Cartón:", new { @class = "titleLbl" })
                                                @Html.Label("nombreCarton", "Nombre cartón", new { @class = "contLbl" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.Label("Calibre y ancho de corte:", new { @class = "titleLbl" })
                                                @Html.Label("nombreCarton", "60.4 X 54.6", new { @class = "contLbl" })
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <h4 style="text-align:center;">Dimensiones</h4>
                                            <div class="col-sm-2">
                                                @Html.Label("Largo", new { @class = "col-md-12 titleLbl2" })
                                                @Html.Label("largo", "19.5", new { @class = "contLbl2" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.Label("Ancho", new { @class = "col-md-12 titleLbl2" })
                                                @Html.Label("ancho", "10.0", new { @class = "contLbl2" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.Label("Alto", new { @class = "col-md-12 titleLbl2" })
                                                @Html.Label("alto", "8.9", new { @class = "contLbl2" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.Label("UA", new { @class = "col-md-12 titleLbl2" })
                                                @Html.Label("itemUA", "8.9", new { @class = "contLbl2" })
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.Label("Largo corte", new { @class = "col-md-12 titleLbl2" })
                                                @Html.Label("corte", "61.5", new { @class = "contLbl2" })
                                                
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <div class="col-md-12">
                                                @Html.Label("Plástico acabado:", new { @class = "titleLbl" })
                                                @Html.Label("nombreCarton", "Plástico", new { @class = "contLbl" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.Label("Otro plástico: ", new { @class = "titleLbl" })
                                                @Html.Label("nombreCarton", "Plástico", new { @class = "contLbl" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.Label("Manijas o cordon: ", new { @class = "titleLbl" })
                                                @Html.Label("nombreCarton", "3", new { @class = "contLbl" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="row  m-t-sm">
                                        <h4 style="text-align:center;">Valor unitario por cantidades</h4>
                                        <div class="col-sm-2">
                                            @Html.Label("Largo", new { @class = "col-md-12 titleLbl2" })
                                            @Html.Label("largo", "19.5", new { @class = "contLbl2" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.Label("Ancho", new { @class = "col-md-12 titleLbl2" })
                                            @Html.Label("ancho", "10.0", new { @class = "contLbl2" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.Label("Alto", new { @class = "col-md-12 titleLbl2" })
                                            @Html.Label("alto", "8.9", new { @class = "contLbl2" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.Label("UA", new { @class = "col-md-12 titleLbl2" })
                                            @Html.Label("itemUA", "8.9", new { @class = "contLbl2" })
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.Label("Largo corte", new { @class = "col-md-12 titleLbl2" })
                                            @Html.Label("corte", "61.5", new { @class = "contLbl2" })

                                        </div>
                                    </div>
                                </div>
                                <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        @Html.Label("Observaciones", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("observaciones", "", new { @class = "form-control has-feedback-left", placeholder = "Observaciones generales" })
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div>
                            planchas adicionales
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 300px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProvLinea")
                    <div class="form-group">
                        @Html.Label("Seleccione producto: ")
                        <div class="">
                            @Html.TextBox("idProducto", null, new { @class = "form-control", placeholder = "SL producto", data_val = "true", data_val_required = "Dato requerido" })
                            <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            imagen producto
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Ciudad destino: ")
                        <div class="">
                            @Html.TextBox("ciudadDestinoProducto", null, new { @class = "form-control", placeholder = "SL ciudad destino", data_val = "true", data_val_required = "Dato requerido" })
                            <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Comentario adicional: ")
                        <div class="">
                            @Html.TextBox("comentarioAdicional", null, new { @class = "form-control", placeholder = "", data_val = "true", data_val_required = "Dato requerido" })
                            <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="">Guardar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            //Produccion.RestaurarModalProveedorLinea();
        })
    });
</script>
