@{
    ViewBag.Title = "CrearCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nueva cotización</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaCotizaciones", "Comercial", new { id = ViewBag.cliente_idCliente }, null)"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearCotizacion", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editando", false)
                @Html.Hidden("codigoinicial", null)

                <div class="form-group">
                    <div class="col-xs-12 invoice-header">
                        <h3>
                            <i class="fa fa-building"></i> @ViewBag.cliente_nombre
                        </h3>
                    </div>
                    <div id="contInfoClienteCotizar" class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                <div class="infoCliente"><strong>Identificación: </strong>@ViewBag.Identificacion</div>
                                <div class="infoCliente"><strong>Dirección: </strong> @ViewBag.Direccion</div>
                                <div class="infoCliente"><strong>Ciudad: </strong> @ViewBag.Municipio</div>
                                <div class="infoCliente"><strong>Departamento: </strong> @ViewBag.Departamento</div>
                            </address>
                        </div>
                    </div>
                    
                </div>
                
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div id="nuevoProductoCotizar">
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm1"><i class="fa fa-plus"></i></button>
                    </div>
                    <div id="contProductosCotizacion">
                        <table id="tblProductosCotizacion">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>Cartón</th>
                                    <th>Troquel</th>
                                    <th>Destino</th>
                                    <th>1000</th>
                                    <th>2000</th>
                                    <th>4000</th>
                                    <th>6000</th>
                                    <th>8000</th>
                                    <th>1000</th>
                                    <th>1200</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        @Html.Label("Observaciones", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                            @Html.TextBox("observaciones", "", new { @class = "form-control has-feedback-left", placeholder = "Observaciones generales" })
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div>
                            planchas adicionales
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidCotizarProducto")
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Seleccione producto: ")
                            <div class="">
                                @Html.TextBox("idProducto", null, new { @class = "form-control", placeholder = "SL producto", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.Label("Ciudad destino: ")
                            <div class="">
                                @Html.TextBox("ciudadDestinoProducto", null, new { @class = "form-control", placeholder = "SL ciudad destino", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Comentario adicional: ")
                            <div class="">
                                @Html.TextBox("comentarioAdicional", null, new { @class = "form-control", placeholder = "", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                <img src="~/images/Imagen_no_disponible.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            //Produccion.RestaurarModalProveedorLinea();
        });
        $('[data-toggle="tooltip"]').tooltip();

        xFnCotizar = {
            RestaurarModalCotizar: function() {
                $();
            }
        };
      

        $('#tblProductosCotizacion').dataTable({
            "data": [
                {
                    "Referencia": "MAXTER TAPABOCAS",
                    "Carton": "Pleg. blanco revés blanco",
                    "Troquel": "R09146",
                    "Destino": "Manizales",
                    "1000": "3",
                    "2000": "M",
                    "4000": "19.5",
                    "6000": "10.0",
                    "8000": "8.9",
                    "10000": "1",
                    "12000": "61.5",
                    "Observaciones": "1"                    
                },
                {
                    "Referencia": "MAXTER TAPABOCAS",
                    "Carton": "Pleg. blanco revés blanco",
                    "Troquel": "R09146",
                    "Destino": "Manizales",
                    "1000": "3",
                    "2000": "M",
                    "4000": "19.5",
                    "6000": "10.0",
                    "8000": "8.9",
                    "10000": "1",
                    "12000": "61.5",
                    "Observaciones": "1"                    
                }
            ],
            "columns": [
                { "data": "Referencia" },
                { "data": "Carton" },
                { "data": "Troquel" },
                { "data": "Destino" },
                { "data": "1000" },
                { "data": "2000" },
                { "data": "4000" },
                { "data": "6000" },
                { "data": "8000" },
                { "data": "10000" },
                { "data": "12000" },
                { "data": "Observaciones" }
            ]
        });

    });
</script>
