@model Tier.Gui.CotizarService.CotizacionModelo
@{
    ViewBag.Title = "CrearCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
    Tier.Gui.CotizarService.Municipio objMuni = (Tier.Gui.CotizarService.Municipio)ViewBag.Municipio;
    Tier.Gui.CotizarService.Departamento objDpto = (Tier.Gui.CotizarService.Departamento)ViewBag.Departamento;
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Nueva cotización</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("ListaCotizaciones", "Comercial", new { id = objCliente.idcliente }, null)"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearCotizacion", "Comercial", null, FormMethod.Post, new { @class = "form-horizontal form-label-left", onsubmit = "Comercial.HabilitaCampos();" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editando", true)
                @Html.Hidden("activo", true)
                @Html.Hidden("hdfProdCotizar", "", new { data_val = "true", data_val_required = "Dato requerido." })
                @Html.Hidden("cliente_idcliente", objCliente.idcliente)
                @Html.HiddenFor(model => model.costosplancha)
                @Html.HiddenFor(model => model.costostroqueles)

                <div class="form-group">
                    <div class="col-xs-12 invoice-header">
                        <h1>
                            <i class="fa fa-building"></i> @objCliente.nombre
                        </h1>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <address>
                                <strong>Identificación:&nbsp;</strong>@objCliente.identificacion
                                <strong>Dirección:&nbsp;</strong> @objCliente.direccion
                                <strong>Ciudad:&nbsp;</strong> @objMuni.nombre
                                <strong>Departamento:&nbsp;</strong> @objDpto.nombre
                            </address>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div id="nuevoProductoCotizar">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm1">
                            <i class="fa fa-plus"></i>
                            Adicionar Producto
                        </button>
                        <div id="contSLPeriodo">
                            @Html.DropDownListFor(model => model.periodo_idPeriodo, null, " -- Periodo -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido." })
                            @Html.ValidationMessageFor(model => model.periodo_idPeriodo)
                            <span class="fa fa-puzzle-piece form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div id="contProductosCotizacion">
                        <table id="tblProductosCotizacion">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="sinProductosMsj">
                        <div style="width: 80%;text-align:center;margin: 0 auto;font-size: smaller;color: darkorange;">
                            <p>
                                <span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 32px;"></span>
                            </p><span>No se han ingresado productos en la cotización</span>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                        @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control has-feedback-left", placeholder = "Observaciones generales" })
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                        <table class="pull-right" style="margin-right:11px;">
                            <tr>
                                <th style="text-align:right;">@Html.LabelFor(model => model.costosplancha):&nbsp;$&nbsp;</th>
                                <td style="text-align:right;"><label id="lblcostosplancha">0</label></td>
                            </tr>
                            <tr>
                                <th style="text-align:right;">@Html.LabelFor(model => model.costostroqueles):&nbsp;$&nbsp;</th>
                                <td style="text-align:right;"><label id="lblcostostroqueles">0</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div>
                            <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success btn-lg" value="Guardar" />
                        </div>
                        <div class="label label-warning">
                            <span>ADVERTENCIA: La cotización no puede ser editada después de ser creada.</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*Modal para la adición de productos a la cotización*@
<div tabindex="-1" class="modal fade bs-example-modal-sm1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmNwProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("guidProductoCotizar")
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Seleccione producto: ")
                                @Html.DropDownList("producto_idproducto", null, " -- Producto -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido", onchange = "Comercial.ObtenerImagenProducto();" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-archive form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Ciudad destino: ")
                                @Html.DropDownList("insumo_idinsumo_flete", (SelectList)ViewBag.insumo_idinsumo_flete, " -- Flete -- ", new { @class = "form-control has-feedback-left", data_val = "true", data_val_required = "Dato requerido" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-truck form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                @Html.Label("Observación: ")
                                @Html.TextArea("comentarioAdicional", "", new { @class = "form-control has-feedback-left", placeholder = "Comentarios adicionales" })
                                <span class="field-validation-valid" data-valmsg-for="nombreProvLinea" data-valmsg-replace="true"></span>
                                <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="contImgProdCotizar">
                                <img id="imgProdCotizarMdl" src="~/images/Imagen_no_disponible.png" data-scrnotfoung="@Url.Content("~/images/Imagen_no_disponible.png")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="Comercial.AgregarProdCotizar();">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal para el detalle del valor de las escalas*@
<div tabindex="-2" class="modal fade bs-example-modal-sm2" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmDetalleProdCotizacionEscala">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="trgCotProDetEscala" class="modal-body"></div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal para el detalle del producto*@
<div tabindex="-3" class="modal fade bs-example-modal-sm3" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style=" max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="frmDetalleProdCotizacion">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="trgCotProDet" class="modal-body"></div>
                <div class="col-md-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.bs-example-modal-sm1').on('hidden.bs.modal', function (e) {
            Comercial.RestaurarModalProdCotizar();
        });

        $('.bs-example-modal-sm1').on('show.bs.modal', function (e) {
            if ($("#periodo_idPeriodo").val() == null || $("#periodo_idPeriodo").val() == "") {
                new PNotify({
                    title: 'Debe seleccionar un periodo',
                    text: '',
                    type: 'error'
                });
                return false;
            }
        });

        $("#costosplancha").val(0);
        $("#costostroqueles").val(0);

        NProgress.done();
    });
</script>

