@model IEnumerable<Tier.Dto.Asesor>

@{
    ViewBag.Title = "ListaAsesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblAsesores">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.idasesor)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoelectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.empresa_idempresa)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.fechacreacion)
                </th>*@
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.idasesor)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correoelectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.empresa_idempresa)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.fechacreacion)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#func_path").text("Comercial >> Asesores");
    $("#tblAsesores").DataTable();
</script>