@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de cotizaciones</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("CrearCotizacion", "Comercial", new { id = objCliente.idcliente }, null)"><i class="fa fa-plus"></i> Crear</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home" )"><i class="fa fa-close"></i> Cerrar</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-12 invoice-header">
                <h1>
                    <i class="fa fa-building"></i> @objCliente.nombre
                </h1>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-12 invoice-col">
                    <address>
                        <strong>Identificación:&nbsp;</strong>@objCliente.identificacion
                        <strong>Dirección:&nbsp;</strong> @objCliente.direccion
                        <strong>Ciudad:&nbsp;</strong> @objCliente.municipio_desmunicipio
                        <strong>Departamento:&nbsp;</strong> @objCliente.municipio_departamento_descdepartamento
                    </address>
                </div>
            </div>
            <div id="divTabla">
                @Html.Partial("_TablaCotizaciones", (IEnumerable<Tier.Gui.CotizarService.Cotizacion>)Model)
            </div>
        </div>
    </div>
</div>
