@model IEnumerable<Tier.Gui.CotizarService.Cotizacion>

@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Tier.Gui.CotizarService.Cliente objCliente = (Tier.Gui.CotizarService.Cliente)ViewBag.Cliente;
    Tier.Gui.CotizarService.Municipio objMuni = (Tier.Gui.CotizarService.Municipio)ViewBag.Municipio;
    Tier.Gui.CotizarService.Departamento objDpto = (Tier.Gui.CotizarService.Departamento)ViewBag.Departamento;
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de cotizaciones</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("CrearCotizacion", "Comercial", new { id = objCliente.idcliente }, null)"><i class="fa fa-plus"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("ListaClientes", "Comercial" )"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-12 invoice-header">
                <h1>
                    <i class="fa fa-building"></i> @objCliente.nombre
                </h1>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-12 invoice-col">
                    <address>
                        <strong>Identificación:&nbsp;</strong>@objCliente.identificacion
                        <strong>Dirección:&nbsp;</strong> @objCliente.direccion
                        <strong>Ciudad:&nbsp;</strong> @objMuni.nombre
                        <strong>Departamento:&nbsp;</strong> @objDpto.nombre
                    </address>
                </div>
            </div>
            <table id="tlbListaCotizaciones">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.idcotizacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.itemlista_iditemlista_estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.observaciones)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fechacreacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.activo)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" class="dropdown">
                                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                            <span class="fa fa-chevron-down"></span>
                                        </a><div class="dropdown-backdrop"></div>
                                        <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                            <li role="presentation">
                                                @Html.ActionLink("Consultar", "ConsultarCotizacion", "Comercial", new { id = item.idcotizacion }, null)
                                            </li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation">
                                                @Html.ActionLink("Eliminar", "EliminarProducto", "Produccion", new { id = item.idcotizacion }, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.idcotizacion)
                            </td>
                            <td>
                                @if (item.itemlista_iditemlista_estado != null)
                                {
                                    @Tier.Gui.SAL.ItemsListas.RecuperarItemListaXId((int)item.itemlista_iditemlista_estado).nombre
                                }
                                else
                                {
                                    <text>N/A</text>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.observaciones)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechacreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.activo)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#tlbListaCotizaciones").DataTable();
</script>