<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Tier.Gui.Helpers.CustomHtmlHelpers.ApplicationName</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styling plus plugins -->
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/fonts/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/animate.min.css")" rel="stylesheet">

    <!-- BEGIN STYLES LOGIN-->
    <link href="@Url.Content("~/css/login/default.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/login/login-soft.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/login/style-metro.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/login/style-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/login/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/Load.css")" rel="stylesheet" />
    <!-- END STYLES LOGIN-->


    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script src="@Url.Content("~/js/site/globalscripting.js")"></script>

    <script src="@Url.Content("~/js/notify/pnotify.buttons.js")"></script>
    <script src="@Url.Content("~/js/notify/pnotify.core.js")"></script>
    <script src="@Url.Content("~/js/notify/pnotify.nonblock.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- BEGIN CORE PLUGINS LOGIN -->

    <script src="@Url.Content("~/js/login/app.js")"></script>
    <script src="@Url.Content("~/js/login/jquery-ui-1.10.1.custom.min.js")"></script>
    <script src="@Url.Content("~/js/login/jquery.blockui.min.js")"></script>
    <script src="@Url.Content("~/js/login/jquery.cookie.min.js")"></script>
    <script src="@Url.Content("~/js/login/login-soft.js")"></script>

    <script src="@Url.Content("~/js/login/jquery.backstretch.min.js")"></script>
    <script>
    jQuery(document).ready(function () {
        App.init();
        Login.init();
        $("#contLoad").fadeOut();
    });
    </script>
    <!-- END CORE PLUGINS LOGIN -->
    <script>
        var SiteUris = { UriHome: "@Url.Action("Index", "Home")" }
    </script>
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <!-- PUT YOUR LOGO HERE -->
    </div>
    <!-- END LOGO -->

    <div class="">
        @*<a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>*@
            @RenderBody()
    </div>
    <div id="contLoad">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</body>
</html>
