@model IEnumerable<Tier.Gui.CotizarService.ItemLista>

<table id="tblItemsSelectedList">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.iditemlista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                <span class="fa fa-chevron-down"></span>
                            </a><div class="dropdown-backdrop"></div>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    @Html.ActionLink("Modificar", "", "", new { id = item.iditemlista }, null)
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    @Html.ActionLink("Eliminar", "", "", new { id = item.iditemlista }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iditemlista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.activo)
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    $("#tblItemsSelectedList").DataTable();
</script>
