@model IEnumerable<Tier.Gui.CotizarService.Usuario>

<script>
    NProgress.start();
</script>

<table id="tblUsuarios">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrecompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoelectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol_idrol)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                <span class="fa fa-chevron-down"></span>
                            </a><div class="dropdown-backdrop"></div>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    @Html.ActionLink("Modificar", "EditarUsuario", "Administracion", new { id = item.idusuario }, null)
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    @Html.ActionLink("Eliminar", "EliminarUsuario", "Administracion", new { id = item.idusuario }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombrecompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correoelectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.celular)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    @if (item.rol_idrol.HasValue)
                    {
                        @Tier.Gui.Helpers.CustomHtmlHelpers.RecTextoSL((SelectList)ViewBag.rol_idrol, item.rol_idrol)
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#tblUsuarios").dataTable();
</script>

<script>
    NProgress.done();
</script>
