@model IEnumerable<Tier.Dto.Empresa>

@{
    ViewBag.Title = "ListaEmpresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblEmpresas">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.idempresa)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nit)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.representantelegal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.urilogo)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.idempresa)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.razonsocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nit)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.representantelegal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    <img src="@Url.Content("~/images/" + item.urilogo)" alt="Logo empresa" />
                    @*@Html.DisplayFor(modelItem => item.urilogo)*@
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#func_path").text("Administración >> Empresas");
    $("#tblEmpresas").DataTable();
</script>