@model Tier.Gui.CotizarService.ItemLista

@{
    ViewBag.Title = "ListaListas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="x_panel" id="divlistasform" style="display:none">
        <div class="x_title">
            <h2>Nuevo elemento</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="#" onclick="Administracion.CerrarFormularioCreaItem();"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("CrearItemLista", "Administracion", null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                @Html.Hidden("grupo")
                @Html.Hidden("activo", true)
                @Html.Hidden("editando", false)
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" name="btnGuardar" id="btnGuardar" class="btn btn-success" value="Guardar" />
                        <button id="btnResetForm" type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="x_panel" id="divlistasmain">
        <div class="x_title">
            <h2>Gestión de listas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-close"></i></a>
                </li>
                <li>
                    <a href="#" onclick="Administracion.AbrirFormularioCreaItem();"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-3">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left" @*style="columns: 2; -webkit-columns: 2; -moz-columns: 2;"*@>
                    <li class="">
                        @Ajax.ActionLink("Áreas", "RecuperarItemsListaGrupo", "Administracion",
                                 new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.Areas },
                                                            new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.Areas + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Tipo máquina", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposMaquina },
                                                   new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposMaquina + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Unidades de medida", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.UnidadesMedida },
                                                   new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.UnidadesMedida + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Tipos de régimen", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposRegimen },
                                                   new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposRegimen + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Tipos de identificación", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposIdentificacion },
                                                   new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposIdentificacion + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Formas de pago", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.FormasPago },
                                                            new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.FormasPago + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Tipos de contactos", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposContacto },
                                                            new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposContacto + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                    <li class="">
                        @Ajax.ActionLink("Tipos de material", "RecuperarItemsListaGrupo", "Administracion",
                                          new { intIdGrupo = (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposMaterial },
                                                            new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "itemsselectedlista", OnSuccess = "Administracion.EstablecerGrupoListaitems(" + (byte)Tier.Gui.Models.Enumeradores.TiposLista.TiposMaterial + ")" },
                        new { data_toggle = "tab", aria_expanded = "false" })
                    </li>
                </ul>
            </div>
            <div id="itemsselectedlista" class="col-md-8 col-lg-8 col-sm-7">
            </div>
        </div>
    </div>
</div>
