@model IEnumerable<Tier.Gui.CotizarService.Usuario>

@{
    ViewBag.Title = "ListaUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión de usuarios</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="#"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="tblUsuarios">
                <thead>
                    <tr>
                        <th></th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.idusuario)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.usuario)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.clave)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.nombrecompleto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.correoelectronico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.celular)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.fechacreacion)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.activo)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.cargo)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.rol_idrol)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.empresa_idempresa)
                            </th>*@
                        @*<th>
                                @Html.DisplayNameFor(model => model.itemlista_iditemlistas_area)
                            </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" class="dropdown">
                                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                            <span class="fa fa-chevron-down"></span>
                                        </a><div class="dropdown-backdrop"></div>
                                        <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                            <li role="presentation">
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                                            </li>
                                            <li role="presentation">
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                                            </li>
                                            <li role="presentation">
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation">
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.idusuario)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.clave)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.nombrecompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.correoelectronico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.celular)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.fechacreacion)
                                </td>*@
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.activo)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.cargo)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.rol_idrol)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.empresa_idempresa)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.itemlista_iditemlistas_area)
                                </td>*@

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#tblUsuarios").dataTable();
</script>