@model IEnumerable<Tier.Dto.ItemLista>

@{
    ViewBag.Title = "ListaListas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblListas">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.iditemlista)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.idpadre)
            </th>*@
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.iditemlista)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.idpadre)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#func_path").text("Administración >> Listas");
    $("#tblListas").DataTable();
</script>